################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/MyFirstResource
/.vs/RaceGameMode/v16
/MyFirstResource/bin
/MyFirstResource/obj
